<% @articles.each do |article|%>
    <p><%= article.title%></p>
    <p><%= article.link%></p>
    <p><%= article.body%></p>

    <% end %>

<form class="form-search" method="GET" action="/scrape">
<input type="url" name="url" class="input-medium search-query" required value="http://">
<button type="submit" class="btn">Scrape</button>
</form>