// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding: 16px;
    background-color: #fafafa;
}

#articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    width: 30%;
    background-color: white;
    padding: 8px 24px;
    margin: 8px;
}